# options
--swiftversion 5.3
--allman false
--elseposition same-line
--header ignore
--patternlet hoist
--indent 4
--ifdef indent
--indentcase false
--tabwidth unspecified
--xcodeindentation disabled
--linebreaks lf
--binarygrouping 4,8
--decimalgrouping 3,6
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--hexgrouping 4,8
--hexliteralcase uppercase
--octalgrouping 4,8
--self remove
--selfrequired
--semicolons inline
--importgrouping alphabetized
--operatorfunc spaced
--nospaceoperators
--modifierorder
--trailingclosures
--commas always
--trimwhitespace always
--shortoptionals always
--stripunusedargs always
--voidtype void
--maxwidth none
--nowrapoperators
--closingparen balanced
--wraparguments preserve
--wrapcollections preserve
--wrapparameters preserve
--yodaswap always

# rules
--enable andOperator
--enable anyObjectProtocol
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable emptyBraces
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFilePrivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantVoidReturnType
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
